<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleName</key>
    <string>BiliManga</string>
    <key>CFBundleDisplayName</key>
    <string>Bilibili漫画</string>
    <key>CFBundleIdentifier</key>
    <string>com.michael.mac</string>
    <key>CFBundleVersion</key>
    <string>1.2.2</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleExecutable</key>
    <string>Bilibili.Manga</string>
    <key>CFBundleIconFile</key>
    <string>icon.ico</string>
    <key>CFBundleShortVersionString</key>
    <string>1.2.2</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>NSHighResolutionCapable</key>
    <true />
  </dict>
</plist>